[submodule "OrstetCore"]
	path = cores/OrstetCore
	url = https://github.com/tswow/OrstetCore.git
[submodule "misc/adt-creator"]
	path = misc/adt-creator
	url = https://github.com/tswow/adt-creator.git